version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data/jobqueue:/data
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
    restart: unless-stopped
    networks:
      - redis-network

networks:
  redis-network:
    name: redis-network
    driver: bridge
