version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: webdb
      POSTGRES_PASSWORD: webdb
      POSTGRES_DB: webdb
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U webdb"]
      interval: 10s
      timeout: 5s
      retries: 5
